<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créer un Topic</title>
    <link rel="stylesheet" href="/assets/css/main.css">
</head>

<%- include('../partials/header', {user, hoster, path}) %>

<body>
    <main>
        <h1>Créer un Nouveau Topic</h1>
        <form action="<%= hoster %>/topics/create" method="POST">
            <div>
                <label for="title">Titre :</label>
                <input type="text" id="title" name="title" required>
            </div>
            <div>
                <label for="description">Description :</label>
                <textarea id="description" name="description" required></textarea>
            </div>
            <div>
                <label for="tags">Tags (séparés par des virgules) :</label>
                <input type="text" id="tags" name="tags">
            </div>
            <button type="submit">Créer</button>
        </form>
    </main>

<%- include('../partials/footer') %>
</body>
</html>
