<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="/assets/css/login.css">
</head>
<body>
    <%- include('../partials/header', {user, hoster, path}) %>
    <main>
        <h1>Connexion</h1>
        <form action="<%= hoster %>/login" method="POST">
            <div>
                <label for="emailOrUsername">Email ou Nom d'utilisateur :</label>
                <input type="text" id="emailOrUsername" name="emailOrUsername" required>
            </div>
            <div>
                <label for="password">Mot de passe :</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Se connecter</button>
        </form>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>
